{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container p-0">
    <div class="row">
        <div class="col-md-4 mt-3">
            <h3>{% trans "Sign In" %}</h3>

            <p>{% blocktrans %}Welcome back to TasKer. If
                you
                have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
                to start managing your tasks.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form | crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary btn-style btn-lg col-12" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}