@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: Poppins, sans-serif;
    padding-bottom: 20px;
}



p, h1, h2, h3, h4 {
    font-family: Poppins, sans-serif;
}

.btn {
    border-radius: 10px;
}


.btn-style {
    background-color: #504CEA;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    border-color: #504CEA;
}

.btn-style-large {
    line-height: 3rem;
    font-size: 1.5rem;

}



#main-heading {
    font-weight: bold;
    font-size: 4rem;
}

.dahsboard-heading {
    font-size: 5rem;
}


#hero-image {
    border-radius: 1.5rem;
}

.btn-href-margin {
    padding-left: 0;
    padding-right: 0;

}

.card-style {
    border-radius: 10px;
    
}

#percentage{
    font-size: 28px;
    font-weight: bold;
    color: #504CEA;

}

.card-text{
    font-size: 12px;
    margin: 0;
}

.card-title{
    font-size: 14px;
    font-weight: 600;
}

#time-text{
    color: #BEC0C7;
}

#landing-pg-view {
    height: 100vh;
}

/* Small devices (phones) */
@media (max-width: 576px) {

    #main-heading {
        font-size: 40px;
    }

    .dahsboard-heading {
        font-size: 3rem;
        text-align: center;
    }
    .text-center-align {
        text-align: center;
    }

}

/* Tablets*/
@media (max-width: 768px) {

    #main-heading {
        font-size: 30px;
    }

}

/* Desktop 1024*/
@media (max-width: 1024px) {

    #main-heading {
        font-size: 30px;
    }

}